body {font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;}

.logo {font-family: "Raleway", sans-serif;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}
.logo-span {color: #f4f4fd;}



h3 {font-family: inherit;
     font-weight: medium;
     font-size: 20px;
     letter-spacing: 2%;}

p {font-family: inherit;
    color: #8e8f99;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 4%;}

.title {
    background-color: #2e2f42;
}
.title-text {
    font-family: inherit;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
cursor: pointer;}
.button:hover, .button:focus {background-color: #404bbf;}

 .section-h3 {
    font-family: inherit;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-p {
    font-family: inherit;
    color:#434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {background-color: #f4f4fd;}

.section-title {
    font-family: inherit;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-li {background-color: #ffffff;}

.footer {background-color: #2e2f42;}

.link {color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link:hover, .link:focus {color: #404bbf;}

.address {font-style: normal;}

.footer-text{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
